.container {
  display: flex;
  background-color: #f8f8f8;
  height: 100vh;
}

.main {
  margin-left: 250px;
  padding: 20px;
  width: calc(100% - 250px);
  background-color: #f8f8f8;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
}

.closeButton {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
}

.activeTab {
  border-bottom: 2px solid red;
}

.content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.offerCard {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.offerCard img {
  height: 50px;
  margin-right: 10px;
}

.activateButton {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.filterButtons {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.filterButton {
  background-color: #e0e0e0;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.offerList {
  display: flex;
  flex-direction: column;
}

.offerItem {
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 10px;
}
.selectedOffer {
  background-color: #d52b1e;
  color: white;
}
